*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}


.calc{
    width : 390px;
    margin:100px auto;
}
.display{
    color:white;
    font-size: 70px;
    text-align: right;
    padding:10px;
    height: 130px;
}
.key{
    background-color: #333333;
    color: white;
    width: 90px;
    height: 90px;
    line-height: 90px;
    text-align: center;
    font-size: 35px;
    border: 1px solid black;
    border-radius: 50%;
    margin:5px;
    cursor: pointer;
    user-select: none;
}
.key:active{
    background-color: #33333390;
}
.zero{
    width:190px;
    border-radius: 90px;
}
tr:first-child td .key{
    background-color: #a5a5a5;
    color:black;
}
tr:first-child td .key:active{
    background-color: #a5a5a590;
}
tr td:last-child .key{
    background-color: #ffa45c;
    color:white;
}
tr td:last-child .key:active{
    background-color: #ffa45c90;
}